/* Описание Студия */

:root {
  --main-text-color: #212121;
  --acent-color: #757575;
  --primary-white-color: #ffffff;
  --button-color: #2196f3;
  --background-color: #2f303a;
  --background-button: #f5f4fa;
  --background: #188ce8;
  --color-logo: #000000;
}

body {
  font-family: Roboto, sans-serif;
  font-style: 400;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  background-color: var(--primary-white-color);
  color: var(--main-text-color);
  justify-content: center;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

/* Logo */

.logo {
  font-family: Raleway, sans-serif;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--button-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-studio {
  color: var(--color-logo);
}

/* Header */

.header,
.nav,
.site-nav,
.adress-nav,
.adress-nav-list {
  display: flex;
}

.header {
  padding-top: 25px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  justify-content: center;
  align-items: center;
}

.site-nav .link {
  color: var(--main-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--button-color);
}

.site-nav .link.current {
  color: var(--button-color);
}
.nav-item {
  margin-left: 50px;
}

.adress-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.adress-nav-list {
  margin-left: 50px;
  justify-content: center;
  align-items: center;
}
.adress-nav-list:first-child {
  margin-left: 0;
}

/* Hero */
.main {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.hero {
  background-color: var(--background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  padding-top: 200px;
  margin-bottom: 30px;
}

.hero-button {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
  border: 0;
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--button-color);
  padding: 10px 32px;
  margin-bottom: 200px;
  margin-left: 485px;
}
.hero-button:hover,
.hero-button:focus {
  color: var(--primary-white-color);
  background-color: var(--background);
}

/* Секции и абзацы*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Особенности */
.futuries {
  display: flex;
  flex-wrap: wrap;
}
.futuries.section {
  padding-bottom: 0;
}
.futuries > .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}
.item:first-child {
  margin-left: 0;
}
.futuries-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.futuries-title-p {
  font-size: 14px;
  line-height: 1.71;
  color: var(--acent-color);
}

/* Чем мы занимаемся*/

.study {
  display: flex;
  flex-wrap: wrap;
  /* flex-basis: calc(100% / 3 - 60px); */
}

.study-item {
  margin-right: 30px;
}
.study-item:last-child {
  margin-right: 0;
}
.section.study {
  padding-top: 0;
}
/* Team section */
.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-basis: calc(100% / 4 - 90px);
}
.section.team {
  background-color: var(--background-button);
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.section-title {
  padding-bottom: 50px;
}
.team-list {
  text-align: center;
  width: 270px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.team-descrip {
  font-size: 16px;
  line-height: 1.14;
  color: var(--acent-color);
  justify-content: center;
}
/* Описание для Портфолио */

/* Section project */
.btn-project {
  display: flex;
  padding-bottom: 50px;
}

.button {
  font-family: Roboto;
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--background-button);
  border-radius: 4px;
  border: var(--background-button);
  padding: 6px 22px;
}

.button:last-child {
  margin-right: 8px;
}

.project .button:active {
  color: var(--primary-white-color);
  background-color: var(--button-color);
}

.project .button:hover,
.project .button:focus {
  color: var(--primary-white-color);
  background-color: var(--button-color);
}

.section-project .link {
  color: var(--main-text-color);
}
.project {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  margin: 0 auto;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.section-project {
  display: flex;
  flex-wrap: wrap;
}
.card {
  flex-basis: calc(100% / 3 - 60px);
}
.card-info {
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  width: 370px;
  padding: 20px 0px 4px 24px;
}

.project-descrip {
  font-size: 16px;
  line-height: 1.87;
  width: 370px;
  color: var(--acent-color);
  padding-left: 24px;
  padding-bottom: 20px;
}
.project-tehno,
.project-poster,
.project-seafood,
.project-prime,
.project-boxes,
.project-borders,
.project-limit,
.project-lab,
.project-business {
  border: 1px solid #eeeeee;
}
/* Footer */

.footer {
  color: var(--primary-white-color);
  background-color: var(--background-color);
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.footer-content {
  margin-top: 20px;
}

.container > .logo {
  padding-top: 60px;
}
.logo-studio.footer {
  margin-left: 0;
}

.footer-adress .link {
  color: rgba(255, 255, 255, 0.6);
}

.adress-nav .link {
  color: var(--acent-color);
}
.link:hover,
.link:focus {
  color: var(--button-color);
}

.adress-nav .link.current {
  color: var(--button-color);
}

.footer-adress {
  line-height: 1.71;
  font-style: normal;
  color: var(--primary-white-color);
  background-color: var(--background-color);
  width: 231px;
  padding-bottom: 51px;
}
.footer-adress-item {
  padding-top: 9px;
}
